:global {
  .ant-modal-body {
    padding: 0;
  }
  .ant-modal-footer {
    padding: 0;
  }
  .slick-slide {
    overflow-y: scroll;
    height: 100%;
  }

  .slick-slider, .slick-track, .slick-list {
    height: 100%;
    img {
      max-width: 90%;
      margin: 0 auto;
    }
  }
  .slick-dots {
    li {
      position: relative;
      display: inline-block;
      height: 20px;
      width: 20px;
      margin: 0 5px;
      padding: 0;
      cursor: pointer;
      img {
        border: 0;
        max-width: 100%;
        height: 100%;
        display: inline-block;
        vertical-align: middle;
      }
    }
  }
}

* {
  min-height: 0;
  min-width: 0;
}

@define-mixin clearfix {
  &::after {
    display: block;
    content: "";
    clear: both;
  }
}

@define-mixin bodyContainer $width {
  width: $width;
  height: 500px;
  overflow: auto;
}

.wrapper {
  @mixin clearfix;
  font-size: 14px;
}

.picture {
  background-color: #F2F2F2;
  @mixin bodyContainer 40%;
  float: left;
  width: 40%;
  padding: 20px 0;
}

.pictureOldValue {
  margin-right: 6px;
}

.pictureRow {
  &:not(:first-child) {
    margin-top: 10px;
  }
}

.pictureItem {
  width: 100%;
  height: 80px;
  border: 4px solid #fff;
  cursor: pointer;
}

.pictureItemDesc {
  text-align: center;
}

.detail {
  float: left;
  @mixin bodyContainer 60%;
  padding: 20px;
  ul li {
    padding: 5px;
    span:not(:first-child) {
      margin-left: 35px;
    }
  }
}

.oldValueIcon {
  margin-right: 6px;
}

hr {
  border-top: 1px dashed #D7D7D7;
  border-bottom: 1px dashed #fff;
}

.footer {
  padding: 18px;
}

.status {
  margin-left: 20px;
  color: #ffbf00;
  font-weight: lighter;
}

.question {
  margin-left: 20px;
  cursor: pointer;
}

.question {
  margin-left: 20px;
  cursor: pointer;
}

.more {
  margin-left: 13px;
}

.hightlight {
  color: red;
}

.reasonTitle {
  float: left;
  text-align: left;
  ul li {
    &:not(:first-child) {
      margin-top: 10px;
    }
  }
}

.reasonDetail {
  width: 60%;
  height: 200px;
  overflow: auto;
  text-align: left;
  float: left;
  ul li {
    cursor: pointer;
    padding: 5px;
    background-color: #F2F2F2;
    &:not(:first-child) {
      margin-top: 10px;
    }
    &:hover {
      background-color: #F6F6F6;
    }
  }
}

.reasonInput {
  width: 400px;
}

.reasonBtn {
  margin-top: 20px;
}

.carouselContainer {
  position: fixed;
  z-index: 2000;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: gray;
}

.carouselWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.carousel {
  width: 80%;
  height: 80%;
  color: #333;
}

.carouselClose {
  position: fixed;
  z-index: 2000;
  top: 20px;
  right: 20px;
  cursor: pointer;
  font-size: 50px;
}
