:global {
  .ant-calendar-picker {
    width: 100%
  }
  .ant-form-item-label {
    text-align: left;
    width: 62px;
  }
}

.wrapper {
  padding: 24px;
  background: #fbfbfb;
  border: 1px solid #d9d9d9;
  border-radius: 6px;
  margin-bottom: 20px;
}

.resetButton {
  margin-left: 8px;
}
